{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}
<h1 align="center">Tickets</h1>
<form method="POST">
    <textarea name="title" id="title" class="form-control" placeholder="Title"></textarea>
    <br />
    <textarea name="ticket" id="ticket" class="form-control" placeholder="Enter Ticket Information"></textarea>
    <br />
    <div align="center">
        <button type="submit" class="btn btn-primary">Add Ticket</button>
    </div>    
</form>
<ul class="list-group list-group-flush" id="tickets">
    {% for ticket in user.tickets %}
    <!-- reminder to self about how to comment in html -->
    <br />
    {{ ticket.title }}
    <li class="list-group-item">
        {{ ticket.data }}
        <br />
    <button type="button" class="close" onClick="deleteTicket({{ ticket.id }})">
        <span aria-hidden="true">&times;</span>
    </button>
    </li>
    {% endfor %}
</ul>
{% endblock %}